# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
pacote-download/aSTRonuun/arquivos-txt/perfis.txt
pacote-download/aSTRonuun/arquivos-txt/perfis.txt
pacote-download/aSTRonuun/arquivos-txt/perfis.txt
